@import "./reset.css";

header {
    color: black;
    text-align: center;
    min-height: 40px;
}

h1 {
    font-family: Verdana;
    font-size: 30px;
    font-style: bold;
    margin-top: 10px;
}

h2 {
    font-family: Verdana;
    font-size: 20px;
    font-style: bold;
    margin-top: 10px;
}

.encabezado {
    width: auto;
    height: 30px;
    background-color: gray;
    background-position: center;
    text-align: left;
    vertical-align: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20% ;
    margin-right: 20%;
}

.contenedor {
    width: auto;
    text-align: left;
    margin-left: 28% ;
    margin-top: 1%;
    margin-right: 28%;
    margin-bottom: 2%;
    

}

.contenedor img {
    float: left;
    margin-right: 5%;
}
img {
    width: 28%;
    max-height:max-content;
}

.parrafo {
    font-family: verdana;
    font-size:small;
    text-align: justify;
} 