body {
    background-image: url(../assets/images/fondo-madera-natural.jpg);
}

h1 {
    font-family: Verdana;
    display:flex;
    justify-content: center;
}


.contenedor_tabla {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    color: black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Verdana;
    font-size: large;
    color: black;
} 

th, td {
    padding: 10px;
    color: black;
}

.teal {
    background-color: teal;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}


.navy {
    background-color: navy;
}


.lima {
    background-color: lime;
}


.white {
    background-color: white;
}


.purple {
    background-color: purple;
}


.yellow {
    background-color: yellow;
}


.olive {
    background-color: olive;
}


.marron {
    background-color: brown;
}


.grey {
    background-color: grey;
}


.red {
    background-color: red;
}


.fuchsia {
    background-color: fuchsia;
}


.green, th {
    background-color: green;
}

.contenedor_textos {
    margin-left: 22%;
    margin-right: 22%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.titulo_textos {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
.letras_colores {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

h2 {
    padding-left: 10px;
}
.tteal {
    color: teal;
}

.tblack {
    color: black;
}

.tblue {
    color: blue;
}


.tnavy {
    color: navy;
}


.tlima {
    color: lime;
}


.twhite {
    color: white;
}


.tpurple {
    color: purple;
}


.tyellow {
    color: yellow;
}


.tolive {
    color: olive;
}


.tmarron {
    color: brown;
}


.tgrey {
    color: grey;
}


.tred {
    color: red;
}


.tfuchsia {
    color: fuchsia;
}


.tgreen {
    color: green;
}