body {
    background-image: url(../assets/images/fondo-madera-natural.jpg);
}

h1 {
    font-family: Verdana;
    display:flex;
    justify-content: center;
}

.contenedor_tabla {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Verdana;
    font-size: large;
} 

th, td {
    padding: 10px;
}